/C\#/LeetCode/.vs
/C\#/LeetCode/bin
/C\#/LeetCode/obj

/C\#/CLRViaCSharp/Code/.vs
/C\#/CLRViaCSharp/Code/bin
/C\#/CLRViaCSharp/Code/obj

/Unity3D/.vs
/Unity3D/.vscode
/Unity3D/.vsconfig
/Unity3D/Library
/Unity3D/Temp
/Unity3D/Logs
/Unity3D/Obj

*.csproj
/Unity3D/UserSettings
