/Unity/UserSettings/
/Unity/[Ll]ibrary/
/Unity/[Ll]ogs/
/Unity/[Oo]bj/
/Unity/[Tt]emp/
/Unity/Assets/TextMesh Pro/
/Unity/Assets/TextMesh Pro.meta

/Unity/.vs
/Unity/.vscode
/Unity/.vsconfig

*.sln
*.csproj
/Unity3D/Library
/Unity3D/Temp
/Unity3D/Logs
