/C\#/LeetCode/.vs
/C\#/LeetCode/bin
/C\#/LeetCode/obj

/C\#/CLRViaCSharp/Code/.vs
/C\#/CLRViaCSharp/Code/bin
/C\#/CLRViaCSharp/Code/obj

/Unity/.vs
/Unity/.vscode
/Unity/.vsconfig
/Unity3D/Library
/Unity3D/Temp
/Unity3D/Logs
/Unity/Obj


